.flag {
  padding-left: 35px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 0 0;
}

.ad{ background-image: url(img/flags/AD.png);}
.ae{ background-image: url(img/flags/AE.png);}
.af{ background-image: url(img/flags/AF.png);}
.ag{ background-image: url(img/flags/AG.png);}
.ai{ background-image: url(img/flags/AI.png);}
.al{ background-image: url(img/flags/AL.png);}
.am{ background-image: url(img/flags/AM.png);}
.an{ background-image: url(img/flags/AN.png);}
.ao{ background-image: url(img/flags/AO.png);}
.aq{ background-image: url(img/flags/AQ.png);}
.ar{ background-image: url(img/flags/AR.png);}
.as{ background-image: url(img/flags/AS.png);}
.at{ background-image: url(img/flags/AT.png);}
.au{ background-image: url(img/flags/AU.png);}
.aw{ background-image: url(img/flags/AW.png);}
.ax{ background-image: url(img/flags/AX.png);}
.az{ background-image: url(img/flags/AZ.png);}
.ba{ background-image: url(img/flags/BA.png);}
.bb{ background-image: url(img/flags/BB.png);}
.bd{ background-image: url(img/flags/BD.png);}
.be{ background-image: url(img/flags/BE.png);}
.bf{ background-image: url(img/flags/BF.png);}
.bg{ background-image: url(img/flags/BG.png);}
.bh{ background-image: url(img/flags/BH.png);}
.bi{ background-image: url(img/flags/BI.png);}
.bj{ background-image: url(img/flags/BJ.png);}
.bl{ background-image: url(img/flags/BL.png);}
.bm{ background-image: url(img/flags/BM.png);}
.bn{ background-image: url(img/flags/BN.png);}
.bo{ background-image: url(img/flags/BO.png);}
.br{ background-image: url(img/flags/BR.png);}
.bs{ background-image: url(img/flags/BS.png);}
.bt{ background-image: url(img/flags/BT.png);}
.bv{ background-image: url(img/flags/BV.html);}
.bw{ background-image: url(img/flags/BW.png);}
.by{ background-image: url(img/flags/BY.png);}
.bz{ background-image: url(img/flags/BZ.png);}
.ca{ background-image: url(img/flags/CA.png);}
.cc{ background-image: url(img/flags/CC.png);}
.cd{ background-image: url(img/flags/CD.png);}
.cf{ background-image: url(img/flags/CF.png);}
.cg{ background-image: url(img/flags/CG.png);}
.ch{ background-image: url(img/flags/CH.png); padding-left: 20px;}
.ci{ background-image: url(img/flags/CI.png);}
.ck{ background-image: url(img/flags/CK.png);}
.cl{ background-image: url(img/flags/CL.png);}
.cm{ background-image: url(img/flags/CM.png);}
.cn{ background-image: url(img/flags/CN.png);}
.co{ background-image: url(img/flags/CO.png);}
.cr{ background-image: url(img/flags/CR.png);}
.cs{ background-image: url(img/flags/CS.html);}
.cu{ background-image: url(img/flags/CU.png);}
.cv{ background-image: url(img/flags/CV.png);}
.cx{ background-image: url(img/flags/CX.png);}
.cy{ background-image: url(img/flags/CY.png);}
.cz{ background-image: url(img/flags/CZ.png);}
.de{ background-image: url(img/flags/DE.png);}
.dj{ background-image: url(img/flags/DJ.png);}
.dk{ background-image: url(img/flags/DK.png);}
.dm{ background-image: url(img/flags/DM.png);}
.do{ background-image: url(img/flags/DO.png);}
.dz{ background-image: url(img/flags/DZ.png);}
.ec{ background-image: url(img/flags/EC.png);}
.ee{ background-image: url(img/flags/EE.png);}
.eg{ background-image: url(img/flags/EG.png);}
.eh{ background-image: url(img/flags/EH.png);}
.er{ background-image: url(img/flags/ER.png);}
.es{ background-image: url(img/flags/ES.png);}
.et{ background-image: url(img/flags/ET.png);}
.eu{ background-image: url(img/flags/EU.png);}
.fam{ background-image: url(img/flags/FAM.html);}
.fi{ background-image: url(img/flags/FI.png);}
.fj{ background-image: url(img/flags/FJ.png);}
.fk{ background-image: url(img/flags/FK.png);}
.fm{ background-image: url(img/flags/FM.png);}
.fo{ background-image: url(img/flags/FO.png);}
.fr{ background-image: url(img/flags/FR.png);}
.ga{ background-image: url(img/flags/GA.png);}
.gb{ background-image: url(img/flags/GB.png);}
.gd{ background-image: url(img/flags/GD.png);}
.ge{ background-image: url(img/flags/GE.png);}
.gf{ background-image: url(img/flags/GF.html);}
.gg{ background-image: url(img/flags/GG.png);}
.gh{ background-image: url(img/flags/GH.png);}
.gi{ background-image: url(img/flags/GI.png);}
.gl{ background-image: url(img/flags/GL.png);}
.gm{ background-image: url(img/flags/GM.png);}
.gn{ background-image: url(img/flags/GN.png);}
.gp{ background-image: url(img/flags/GP.html);}
.gq{ background-image: url(img/flags/GQ.png);}
.gr{ background-image: url(img/flags/GR.png);}
.gs{ background-image: url(img/flags/GS.png);}
.gt{ background-image: url(img/flags/GT.png);}
.gu{ background-image: url(img/flags/GU.png);}
.gw{ background-image: url(img/flags/GW.png);}
.gy{ background-image: url(img/flags/GY.png);}
.hk{ background-image: url(img/flags/HK.png);}
.hm{ background-image: url(img/flags/HM.html);}
.hn{ background-image: url(img/flags/HN.png);}
.hr{ background-image: url(img/flags/HR.png);}
.ht{ background-image: url(img/flags/HT.png);}
.hu{ background-image: url(img/flags/HU.png);}
.id{ background-image: url(img/flags/ID.png);}
.ie{ background-image: url(img/flags/IE.png);}
.il{ background-image: url(img/flags/IL.png);}
.im{ background-image: url(img/flags/IM.png);}
.in{ background-image: url(img/flags/IN.png);}
.io{ background-image: url(img/flags/IO.html);}
.iq{ background-image: url(img/flags/IQ.png);}
.ir{ background-image: url(img/flags/IR.png);}
.is{ background-image: url(img/flags/IS.png);}
.it{ background-image: url(img/flags/IT.png);}
.je{ background-image: url(img/flags/JE.png);}
.jm{ background-image: url(img/flags/JM.png);}
.jo{ background-image: url(img/flags/JO.png);}
.jp{ background-image: url(img/flags/JP.png);}
.ke{ background-image: url(img/flags/KE.png);}
.kg{ background-image: url(img/flags/KG.png);}
.kh{ background-image: url(img/flags/KH.png);}
.ki{ background-image: url(img/flags/KI.png);}
.km{ background-image: url(img/flags/KM.png);}
.kn{ background-image: url(img/flags/KN.png);}
.kp{ background-image: url(img/flags/KP.png);}
.kr{ background-image: url(img/flags/KR.png);}
.kw{ background-image: url(img/flags/KW.png);}
.ky{ background-image: url(img/flags/KY.png);}
.kz{ background-image: url(img/flags/KZ.png);}
.la{ background-image: url(img/flags/LA.png);}
.lb{ background-image: url(img/flags/LB.png);}
.lc{ background-image: url(img/flags/LC.png);}
.li{ background-image: url(img/flags/LI.png);}
.lk{ background-image: url(img/flags/LK.png);}
.lr{ background-image: url(img/flags/LR.png);}
.ls{ background-image: url(img/flags/LS.png);}
.lt{ background-image: url(img/flags/LT.png);}
.lu{ background-image: url(img/flags/LU.png);}
.lv{ background-image: url(img/flags/LV.png);}
.ly{ background-image: url(img/flags/LY.png);}
.ma{ background-image: url(img/flags/MA.png);}
.mc{ background-image: url(img/flags/MC.png);}
.md{ background-image: url(img/flags/MD.png);}
.me{ background-image: url(img/flags/ME.png);}
.mf{ background-image: url(img/flags/MF.png);}
.mg{ background-image: url(img/flags/MG.png);}
.mh{ background-image: url(img/flags/MH.png);}
.mk{ background-image: url(img/flags/MK.png);}
.ml{ background-image: url(img/flags/ML.png);}
.mm{ background-image: url(img/flags/MM.png);}
.mn{ background-image: url(img/flags/MN.png);}
.mo{ background-image: url(img/flags/MO.png);}
.mp{ background-image: url(img/flags/MP.png);}
.mq{ background-image: url(img/flags/MQ.png);}
.mr{ background-image: url(img/flags/MR.png);}
.ms{ background-image: url(img/flags/MS.png);}
.mt{ background-image: url(img/flags/MT.png);}
.mu{ background-image: url(img/flags/MU.png);}
.mv{ background-image: url(img/flags/MV.png);}
.mw{ background-image: url(img/flags/MW.png);}
.mx{ background-image: url(img/flags/MX.png);}
.my{ background-image: url(img/flags/MY.png);}
.mz{ background-image: url(img/flags/MZ.png);}
.na{ background-image: url(img/flags/NA.png);}
.nc{ background-image: url(img/flags/NC.png);}
.ne{ background-image: url(img/flags/NE.png);}
.nf{ background-image: url(img/flags/NF.png);}
.ng{ background-image: url(img/flags/NG.png);}
.ni{ background-image: url(img/flags/NI.png);}
.nl{ background-image: url(img/flags/NL.png);}
.no{ background-image: url(img/flags/NO.png);}
.np{ background-image: url(img/flags/NP.png);}
.nr{ background-image: url(img/flags/NR.png);}
.nu{ background-image: url(img/flags/NU.png);}
.nz{ background-image: url(img/flags/NZ.png);}
.om{ background-image: url(img/flags/OM.png);}
.pa{ background-image: url(img/flags/PA.png);}
.pe{ background-image: url(img/flags/PE.png);}
.pf{ background-image: url(img/flags/PF.png);}
.pg{ background-image: url(img/flags/PG.png);}
.ph{ background-image: url(img/flags/PH.png);}
.pk{ background-image: url(img/flags/PK.png);}
.pl{ background-image: url(img/flags/PL.png);}
.pm{ background-image: url(img/flags/PM.html);}
.pn{ background-image: url(img/flags/PN.png);}
.pr{ background-image: url(img/flags/PR.png);}
.ps{ background-image: url(img/flags/PS.png);}
.pt{ background-image: url(img/flags/PT.png);}
.pw{ background-image: url(img/flags/PW.png);}
.py{ background-image: url(img/flags/PY.png);}
.qa{ background-image: url(img/flags/QA.png);}
.re{ background-image: url(img/flags/RE.html);}
.ro{ background-image: url(img/flags/RO.png);}
.rs{ background-image: url(img/flags/RS.png);}
.ru{ background-image: url(img/flags/RU.png);}
.rw{ background-image: url(img/flags/RW.png);}
.sa{ background-image: url(img/flags/SA.png);}
.sb{ background-image: url(img/flags/SB.png);}
.sc{ background-image: url(img/flags/SC.png);}
.sd{ background-image: url(img/flags/SD.png);}
.se{ background-image: url(img/flags/SE.png);}
.sg{ background-image: url(img/flags/SG.png);}
.sh{ background-image: url(img/flags/SH.png);}
.si{ background-image: url(img/flags/SI.png);}
.sj{ background-image: url(img/flags/SJ.html);}
.sk{ background-image: url(img/flags/SK.png);}
.sl{ background-image: url(img/flags/SL.png);}
.sm{ background-image: url(img/flags/SM.png);}
.sn{ background-image: url(img/flags/SN.png);}
.so{ background-image: url(img/flags/SO.png);}
.sr{ background-image: url(img/flags/SR.png);}
.st{ background-image: url(img/flags/ST.png);}
.sv{ background-image: url(img/flags/SV.png);}
.sy{ background-image: url(img/flags/SY.png);}
.sz{ background-image: url(img/flags/SZ.png);}
.tc{ background-image: url(img/flags/TC.png);}
.td{ background-image: url(img/flags/TD.png);}
.tf{ background-image: url(img/flags/TF.png);}
.tg{ background-image: url(img/flags/TG.png);}
.th{ background-image: url(img/flags/TH.png);}
.tj{ background-image: url(img/flags/TJ.png);}
.tk{ background-image: url(img/flags/TK.png);}
.tl{ background-image: url(img/flags/TL.png);}
.tm{ background-image: url(img/flags/TM.png);}
.tn{ background-image: url(img/flags/TN.png);}
.to{ background-image: url(img/flags/TO.png);}
.tr{ background-image: url(img/flags/TR.png);}
.tt{ background-image: url(img/flags/TT.png);}
.tv{ background-image: url(img/flags/TV.png);}
.tw{ background-image: url(img/flags/TW.png);}
.tz{ background-image: url(img/flags/TZ.png);}
.ua{ background-image: url(img/flags/UA.png);}
.ug{ background-image: url(img/flags/UG.png);}
.um{ background-image: url(img/flags/UM.html);}
.us{ background-image: url(img/flags/US.png);}
.uy{ background-image: url(img/flags/UY.png);}
.uz{ background-image: url(img/flags/UZ.png);}
.va{ background-image: url(img/flags/VA.png);}
.vc{ background-image: url(img/flags/VC.png);}
.ve{ background-image: url(img/flags/VE.png);}
.vg{ background-image: url(img/flags/VG.png);}
.vi{ background-image: url(img/flags/VI.png);}
.vn{ background-image: url(img/flags/VN.png);}
.vu{ background-image: url(img/flags/VU.png);}
.wf{ background-image: url(img/flags/WF.png);}
.ws{ background-image: url(img/flags/WS.png);}
.ye{ background-image: url(img/flags/YE.png);}
.yt{ background-image: url(img/flags/YT.png);}
.za{ background-image: url(img/flags/ZA.png);}
.zm{ background-image: url(img/flags/ZM.png);}
.zw{ background-image: url(img/flags/ZW.png);}